nav {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ff6347;
    text-decoration:overline;
    position: static;
}
header {
    background-color: rgba(137, 204, 145, 0.5);
    border-style: dashed;
    border-color: hsla(0,0%,0%, 1.0);
    border-left-width: 3pt;
    border-right-width: 3pt;
    border-top-width: 0.35em;
    border-bottom-width: 0.8ex;
    border-radius: 10%;  
    margin: auto;
    padding: auto;
    text-align: center;
}
body {
    background-color: #fff; /*This sets the background color of the body to white*/  
}


@media screen and (min-width: 800px) {
  body {
    background-color: rgb(245, 245, 220);
  }
}

footer {
    background-color: hsl(9, 100%, 64%);
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}
h3 {
    color: hsl(9, 100%, 64%);
}

p {
    max-width: 80%;
}

details > summary {
    color: blue;
}

summary ~ p {
    color: hsl(9, 100%, 64%);
}

input + label{
    color: black;
}



ul,li{
    list-style-type: square;
}

ol,li{
    list-style: lower-roman;
}

th,b{
    color: blue;
}

div {
    min-width: 50%;
}

figure {
    position: relative;
}
input[type="text"] {
    width: 150px;
}

.mainclass {
    color: black;
    height: 30px;
    width: auto;
    display: inline-block
}
#secondid {
    color: blue;
    display: block;
}

caption.cap {
    color: hsl(9, 100%, 64%);
}

a:hover {
    color: blueviolet;
}

button:active {
    color:blue;
}


* {
    font-family: 'Open Sans', sans-serif;
}
@import url(//fonts.googleapis.com/css?family=Open+Sans);


.flex-container {
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center
    
}




